.login {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: black;
}
.login > img {
  width: 30%;
}
.login > a {
  padding: 1%;
  border-radius: 99px;
  background-color: #3d9f60;
  font-weight: 200;
  color: #ffff;
  text-decoration: none;
  transition: 0.6s ease;
}
.login > a:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(0, 255, 0, 0.8);
}
